<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title id='page_title'></title>
    <link rel='stylesheet' type='text/css' href='../css/novelreader.css'></link>
  </head>

  <body>
    <div id='novel_body'>
      <div id='novel_title'>Loading ....</div>
      <div id='novel_text'></div>
      <div id='novel_nav'></div>
    </div>
  </body>

  <script src='../js/jquery-2.1.3.min.js'></script>
  <script Charset="UTF-8" src='../js/parseChapters.js'></script>
  <script Charset="UTF-8" src='../js/chapters.js'></script>
</html>
