<!doctype html>

<html>
  <head>
    <link rel='stylesheet' type='text/css' href='../css/popup.css'></link>
  <head>

  <body>
    <table id='require_reader'>
      <tr>
        <td>
          <div id='read_cur_content'>
            <span id='req_content'>Please input contents page for novels:</span>
            <br />
            <input id='req_read_url' placeholder='conten page'></input>
            <input type='button' id='readit' value='Read it' />
        </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id='read_history'>
            <span id='read_history_title'>History:</span>
            <span id='clean_all_histories'>Clear All History</span>
            <div id='hostory_list'></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id='read_favorites' hidden>
            <span id='read_favorites_title'>Favorites:</span>
          </div>
      </td>
      </tr>
    </table>
  </body>

  <script src='../js/jquery-2.1.3.js'></script>
  <script src='../js/popup.js'></script>
</html>
